<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="MyProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xA;                    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xA;                         processorArchitecture=MSIL" keyContainerName="DeloitteenriptionKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <compilation debug="true" targetFramework="4.7.2">
      <codeSubDirectories>
        <add directoryName="VBCode" />
        <add directoryName="CSCode" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.7" enableVersionHeader="false" />
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule" />
    </httpModules>
  </system.web>
  <appSettings>
    <add key="_server" value="srv-sqldeloitte.database.windows.net" />
    <add key="_database" value="db_Deloitte_HCAS_360_Dev" />
    <add key="_AzureKeyVaultUri" value="https://kv-del01-prod.vault.azure.net/" />
    <add key="_tenantId" value="b95e1a25-528c-4e2f-b119-a9ff18b251da" />
    <add key="_clientId" value="3c322222-e522-4a6f-a5ab-ecd69adfeeb8" />
    <add key="refreshtime" value="120000" />
    <add key="PhysicalPath" value="https://deloitte360.assessmentportal.in/" />
    <add key="FromAddress" value="deloitte360@assessmentportal.in" />
    <add key="MailSender" value="deloitte360@assessmentportal.in" />
    <add key="flgActualUser" value="2" />
    <!--1 for actual and 2 for Test-->
    <add key="MailTo" value="abhishek@astix.in,demer@deloitte.com" />
    <add key="MailCc" value="abhishek@astix.in" />
    <add key="MailBcc" value="abhishek@astix.in,mukhtyar@astix.in" />
	  <add key="owin:AutomaticAppStartup" value="true" />
	  <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
	  <add key="ClientValidationEnabled" value="false" />
	  <add key="ida:ClientId" value="f6b154b3-4120-448c-8508-11b555762559" />
	  <add key="ida:ClientSecret" value="c.J8Q~sjNs~qQgFsaJL1RsdP6NMMch4NvExfebgI" />
	  <add key="ida:TenantId" value="36da45f1-dd2c-4d1f-af13-5abe46b99921" />
	  <add key="ida:PostRedirectUri" value="https://deloitte360.assessmentportal.in/LoginPageSSO.aspx" />
	  <add key="ida:PostLogoutRedirectUri" value="https://deloitte360.assessmentportal.in/Logout.aspx" />

	  <add key="MailconnectionString" value="endpoint=https://astixemailcommunication.india.communication.azure.com/;accesskey=eY/ca2ZawDDXmJx1KvbW0FXw5CbMmucrsW+mjBqE9urodCYTNJeiBeRq3vjX/s7cVlCymgjphLEPbeF9IJRSuw==" />

	  
  </appSettings>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="QueryStringModule" type="QueryStringModule" preCondition="managedHandler" />
    </modules>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Instruction.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload;env=HTTPS" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="X-XSS-Protection" value="1; mode=block" />
		<add name="Content-Security-Policy" value="default-src 'self' deloitte360.assessmentportal.in *.assessmentportal.in secure-web.cisco.com;style-src 'self' 'unsafe-inline' secure-web.cisco.com;script-src 'self' 'unsafe-inline' 'unsafe-eval'  login.microsoftonline.com secure-web.cisco.com;connect-src 'self' login.microsoftonline.com secure-web.cisco.com;form-action 'self' login.microsoftonline.com secure-web.cisco.com;font-src 'self' secure-web.cisco.com;img-src 'self' secure-web.cisco.com;object-src 'self' secure-web.cisco.com;style-src-elem 'self' 'unsafe-inline' 'unsafe-eval' secure-web.cisco.com;frame-ancestors 'self';script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' login.microsoftonline.com secure-web.cisco.com;" />
        <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=()" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>