name: CI/CD Pipeline for ASP.NET Web App

on:
  push:
    branches:
      - main  # Trigger the workflow on pushes to the main branch

jobs:
  # Continuous Integration Job
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild path
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore NuGet packages
        run: nuget restore Deloittee360.sln

      - name: Build the solution
        run: msbuild Deloittee360.sln /nologo /verbosity:m /p:Configuration=Release

      #- name: Run Unit Tests
      #  run: dotnet test Deloittee360.sln --logger "trx;LogFileName=TestResults.trx" --verbosity normal

  # Continuous Deployment Job with Manual Approval
  deploy:
    needs: build-and-test  # Runs only if CI job succeeds
    runs-on: windows-latest
    environment: Production  # This is where manual approval is required

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild path
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Publish to Folder
        run: |
          msbuild Deloittee360.sln /nologo /verbosity:m /t:Build;pipelinePreDeployCopyAllFilesToOneFolder /p:_PackageTempDir="published" /p:Configuration=Release

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'WA-DEL01-DELOITTE360-PROD'
          slot-name: 'Production'
          package: published/
